## String Examples

#### Description:
Remove the leading spaces from the string  input_str = '         This is my first code'

In [2]:
input_str = '         This is my first code'

In [3]:
# Write your code here
final_str = input_str.lstrip()
print(final_str)

This is my first code

#### Description:
Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.

A sample output of the input 'Kumar_Ravi_003' is:
Ravi
Kumar
003
 
Note that you need to print in the order first name, last name and customer code.

In [5]:
input_str = 'Kumar_Ravi_003'

In [6]:
# Write your code here
first_name = input_str[6:10]
second_name = input_str[0:5]
customer_code = input_str[11:]
print(first_name)
print(second_name)
print(customer_code)

Ravi
Kumar
003

## List Examples

#### Description:
Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.

In [8]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']

In [9]:
new_list = input_list[0:3]
ano_list =['SPARK']
final_list = new_list + ano_list
print(final_list)

['SAS', 'R', 'PYTHON', 'SPARK']

#### Description: string to list conversion using split() function
Convert a string input_str = 'I love Data Science & Python' to a list by splitting it on ‘&’. The sample output for this string will be:
['I love Data Science ', ' Python']

In [14]:
input_str = 'I love Data Science & Python'

In [15]:
output_list = input_str.split('&')
print(output_list)

['I love Data Science ', ' Python']

#### Description: List to String
Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. The sample output of this string will be:
Pythons syntax is easy to learn & Pythons syntax is very clear

Note that there is a space on both sides of '&' (as usual in English sentences).

In [17]:
input_str = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']

In [18]:
string_1 = ' & '.join(input_str)
print(string_1)

Pythons syntax is easy to learn & Pythons syntax is very clear

#### Description: Nested List
Extract Python from a nested list input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]

In [19]:
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]

In [20]:
answer = input_list[2][0]
print(answer)

Python

## Tuple Examples

#### Description:
Add the element ‘Python’ to a tuple input_tuple = ('Monty Python', 'British', 1969). Since tuples are immutable, one way to do this is to convert the tuple to a list, add the element, and convert it back to a tuple.

In [21]:
input_tuple = ('Monty Python', 'British', 1969)

In [22]:
list_1 = list(input_tuple)
list_2 =['Python']
list_3 = list_1 + list_2
tuple_2 = tuple(list_3)
print(tuple_2)

('Monty Python', 'British', 1969, 'Python')

## Dictionary Examples

#### Description:
From a Dictionary input_dict={'Name': 'Monty', 'Profession': 'Singer' }, get the value of a key ‘Label’ which is not a part of the dictionary, in such a way that Python doesn't hit an error. If the key does not exist in the dictionary, Python should return 'NA'.

In [23]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }

In [25]:
answer = input_dict.get('Name')
print(answer)
answer = input_dict.get('Label','NA')
print(answer)

Monty
NA

#### Description: Getting a Value from a Dictionary.
Extract the company headed by Tim Cook from the dictionary {'Jack Dorsey': 'Twitter', 'Tim Cook': 'Apple','Jeff Bezos': 'Amazon','Mukesh Ambani': 'RJIO'}

In [26]:
input_dict = {'Jack Dorsey': 'Twitter', 'Tim Cook': 'Apple','Jeff Bezos': 'Amazon','Mukesh Ambani': 'RJIO'}

In [27]:
name = input_dict['Tim Cook']
print(name)

Apple

#### Description : List of Values in a Dictionary.
Create a SORTED list of all values from the dictionary input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

In [28]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

In [30]:
value_list = list(input_dict.values())
sorted_list = sorted(value_list)
print(sorted_list)

['Amazon', 'Apple', 'RJIO', 'Twitter']

#### Description: Set_diff

Find the difference, using difference and symmetric_difference, between list1 and list2, where list1=[1,2,3,4,5,6] list2=[2,3,4,5,6,7,8,9]

First, convert the lists into sets and store them as set_1 and set_2. Then store the difference and symmetric difference in answer_1 and answer_2 respectively.

In [31]:
list1=[1,2,3,4,5,6] 
list2=[2,3,4,5,6,7,8,9]

In [32]:
set_1 = set(list1)
set_2 = set(list2)
answer_1 = set_1.difference(set_2)
answer_2 = set_1.symmetric_difference(set_2)

print(answer_1)
print(answer_2)

{1}
{1, 7, 8, 9}